In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from sklearn.linear_model import LinearRegression as LR

In [2]:
# pd.set_option("display.max_rows", 20000)

In [3]:
root_dir = '/Users/kessapassa/OneDrive/research_log/2018_Graduate/OD/'

In [4]:
def find_not_nan_index(_list):
    index = -1

    for key, value in enumerate(_list):
        if not np.isnan(value):
            index = key
    
    return index

In [5]:
def interpolate_times(df):
    convert_dic = {
        '3600': 0,
        '21600': 5,
        'is_arrived': 6
    }

    new_times = []
    for row in np.asanyarray(df):
        times = np.delete(row, -1)
            
        if np.isnan(times[0]):
            index = find_not_nan_index(times)
            for i in range(0, index):
                times[i] = times[index]
                
        if row[6] == True:
            times = times[::-1]
            index = find_not_nan_index(times)
            for i in range(0, index):
                times[i] = times[index]
            times = times[::-1]
        
        new_times.append(times)
        
    return pd.DataFrame(new_times)

In [6]:
dir_list = ['2_8', '4_6', '6_4', '8_2']
seed_list = [str(123 + i) for i in range(3)]
times_list = [str(3600 * (i + 1)) for i in range(6)]

csv_array = {}
for _dir in dir_list:
    csv_array[_dir] = {}
    for _seed in seed_list:
        csv_array[_dir][_seed] = pd.read_csv(root_dir+_dir+'seed'+_seed+'.csv', index_col=0)
        csv_array[_dir][_seed] =  csv_array[_dir][_seed].loc[csv_array[_dir][_seed]['type'] == ' Vehicle']
        csv_array[_dir][_seed] .reset_index(drop=True, inplace=True)
        csv_array[_dir][_seed][times_list] = interpolate_times(csv_array[_dir][_seed][times_list + ['is_arrived']])
#         csv_array[_dir][_seed].dropna(how='any', inplace=True)
        csv_array[_dir][_seed].to_csv('/Users/kessapassa/OneDrive/research_log/2018_Graduate/OD2/'+_dir+'seed'+_seed+'.csv')

In [7]:
csv_array['6_4']['123']

          id      type   3600   7200  10800  14400  18000  21600  is_arrived
0      57426   Vehicle  430.0  430.0  430.0  430.0  430.0  430.0        True
1      39467   Vehicle  330.0  330.0  330.0  330.0  330.0  330.0        True
2      65310   Vehicle  330.0  330.0  330.0  330.0  330.0  330.0        True
3      36310   Vehicle  430.0  430.0  430.0  430.0  430.0  430.0        True
4      51630   Vehicle  430.0  430.0  430.0  430.0  430.0  430.0        True
5      48006   Vehicle  430.0  430.0  430.0  430.0  430.0  430.0        True
6      40967   Vehicle  440.0  440.0  440.0  440.0  440.0  440.0        True
7      44138   Vehicle  330.0  330.0  330.0  330.0  330.0  330.0        True
8      48257   Vehicle  440.0  440.0  440.0  440.0  440.0  440.0        True
9      43848   Vehicle  440.0  440.0  440.0  440.0  440.0  440.0        True
10     58906   Vehicle  330.0  330.0  330.0  330.0  330.0  330.0        True
11     59203   Vehicle  220.0  220.0  220.0  220.0  220.0  220.0        True
12     50123   Vehicle  330.0  330.0  330.0  330.0  330.0  330.0        True
13     65229   Vehicle  340.0  340.0  340.0  340.0  340.0  340.0        True
14     41089   Vehicle  430.0  430.0  430.0  430.0  430.0  430.0        True
15     47200   Vehicle  330.0  330.0  330.0  330.0  330.0  330.0        True
16     56460   Vehicle  430.0  430.0  430.0  430.0  430.0  430.0        True
17     54204   Vehicle  340.0  340.0  340.0  340.0  340.0  340.0        True
18     55833   Vehicle  430.0  430.0  430.0  430.0  430.0  430.0        True
19     52868   Vehicle  330.0  330.0  330.0  330.0  330.0  330.0        True
20     52589   Vehicle  330.0  330.0  330.0  330.0  330.0  330.0        True
21     53986   Vehicle  340.0  340.0  340.0  340.0  340.0  340.0        True
22     61996   Vehicle  340.0  340.0  340.0  340.0  340.0  340.0        True
23     54799   Vehicle  330.0  330.0  330.0  330.0  330.0  330.0        True
24     35517   Vehicle  430.0  430.0  430.0  430.0  430.0  430.0        True
25     57701   Vehicle  330.0  330.0  330.0  330.0  330.0  330.0        True
26     57822   Vehicle  340.0  340.0  340.0  340.0  340.0  340.0        True
27     43528   Vehicle  340.0  340.0  340.0  340.0  340.0  340.0        True
28     43087   Vehicle  430.0  430.0  430.0  430.0  430.0  430.0        True
29     40448   Vehicle  330.0  330.0  330.0  330.0  330.0  330.0        True
...      ...       ...    ...    ...    ...    ...    ...    ...         ...
14428  57401   Vehicle  340.0  340.0  340.0  340.0  340.0  340.0        True
14429  61560   Vehicle  340.0  340.0  340.0  340.0  340.0  340.0        True
14430  45640   Vehicle  440.0  440.0  440.0  440.0  440.0  440.0        True
14431  60038   Vehicle  430.0  430.0  430.0  430.0  430.0  430.0        True
14432  63053   Vehicle  530.0  530.0  530.0  530.0  530.0  530.0        True
14433  56152   Vehicle  330.0  330.0  330.0  330.0  330.0  330.0        True
14434  37464   Vehicle  230.0  230.0  230.0  230.0  230.0  230.0        True
14435  49097   Vehicle  340.0  340.0  340.0  340.0  340.0  340.0        True
14436  37548   Vehicle  440.0  440.0  440.0  440.0  440.0  440.0        True
14437  40540   Vehicle  530.0  530.0  530.0  530.0  530.0  530.0        True
14438  43442   Vehicle  440.0  440.0  440.0  440.0  440.0  440.0        True
14439  38870   Vehicle  440.0  440.0  440.0  440.0  440.0  440.0        True
14440  52266   Vehicle  220.0  220.0  220.0  220.0  220.0  220.0        True
14441  55941   Vehicle  430.0  430.0  430.0  430.0  430.0  430.0        True
14442  48183   Vehicle  340.0  340.0  340.0  340.0  340.0  340.0        True
14443  53424   Vehicle  440.0  440.0  440.0  440.0  440.0  440.0        True
14444  53009   Vehicle  430.0  430.0  430.0  430.0  430.0  430.0        True
14445  45202   Vehicle  420.0  420.0  420.0  420.0  420.0  420.0        True
14446  59864   Vehicle  440.0  440.0  440.0  440.0  440.0  440.0        True
14447  39890   Vehicle  340.0  340.0  340.0  340.0  340.0  340.0        True
14448  35365   Vehicle  430.0  430.0  430.0  430.0  430.0  430.0       False
14449  39076   Vehicle  330.0  330.0  330.0  330.0  330.0  330.0       False
14450  59002   Vehicle  310.0  310.0  310.0  310.0  310.0  310.0       False
14451  49171   Vehicle  430.0  430.0  430.0  430.0  430.0  430.0       False
14452  61855   Vehicle  430.0  430.0  430.0  430.0  430.0  430.0       False
14453  62146   Vehicle  430.0  430.0  430.0  430.0  430.0  430.0       False
14454  53105   Vehicle  330.0  330.0  330.0  330.0  330.0  330.0       False
14455  45032   Vehicle  530.0  530.0  530.0  530.0  530.0    NaN       False
14456  54094   Vehicle  430.0  430.0  430.0  430.0  430.0  430.0       False
14457  56379   Vehicle  430.0  430.0  430.0  430.0  430.0  430.0       False

[14458 rows x 9 columns]

In [8]:
for _dir in dir_list:
    for _seed in seed_list:
        print(csv_array[_dir][_seed].shape)

(4768, 9)
(9553, 9)
(14458, 9)
(19313, 9)

# NaNではない最初のindexを見つける

In [9]:
def find_not_nan_index(_list):
    index = -1

    for key, value in enumerate(_list):
        if not np.isnan(value):
            index = key
    
    return index

# 出現していない時間は最初のエリアで補間する

In [10]:
def interpolate_absence_time(df):
    times_list = [str(3600 * (i + 1)) for i in range(6)]

    # 抽出して削除
    only_nan = df.loc[pd.isna(df['3600']) == True, :]
    not_nan = df.loc[pd.isna(df['3600']) != True, :]

    new_times_list = []
    for times in np.asanyarray(only_nan[times_list]):
        index = find_not_nan_index(times)
        for i in range(0, index):
            times[i] = times[index]
        new_times_list.append(times)

    only_nan = only_nan.loc[:, ['id', 'type', 'is_arrived']]

    df_times = pd.DataFrame(new_times_list)
    df_times.set_index(only_nan.index, inplace=True)

    df_interpolated = pd.concat([only_nan, df_times], axis=1)
    df_interpolated.columns = df.columns

    df_new = pd.concat([not_nan, df_interpolated])
    
    return df_new

In [11]:
# times_list = [str(3600 * (i + 1)) for i in range(6)]
# interpolate_times(csv_array['6_4']['123'][times_list + ['is_arrived']])

# エリア番号を線形的な数から、iとjで回した数のようにする

In [12]:
def convert_area_to_contour(df):
    new_area_list = []
    for area_id in np.asanyarray(df):
        area_id = int(area_id)
        contour_id = str(area_id // 6)
        contour_id += str(area_id % 6) + '0'
        new_area_list.append(contour_id)
        
    return new_area_list

In [13]:
# times_list = [str(3600 * (i + 1)) for i in range(6)]

# for _dir in dir_list:
#     for _seed in seed_list:
#         csv_array[_dir][_seed][times_list] = interpolate_times(csv_array[_dir][_seed][times_list + ['is_arrived']])
#         csv_array[_dir][_seed].dropna(how='any', inplace=True)
# #         csv_array[_dir][_seed][times_list] = csv_array[_dir][_seed][times_list].apply(convert_area_to_contour)

In [14]:
csv_array['6_4']['123']

          id      type   3600   7200  10800  14400  18000  21600  is_arrived
0      57426   Vehicle  430.0  430.0  430.0  430.0  430.0  430.0        True
1      39467   Vehicle  330.0  330.0  330.0  330.0  330.0  330.0        True
2      65310   Vehicle  330.0  330.0  330.0  330.0  330.0  330.0        True
3      36310   Vehicle  430.0  430.0  430.0  430.0  430.0  430.0        True
4      51630   Vehicle  430.0  430.0  430.0  430.0  430.0  430.0        True
5      48006   Vehicle  430.0  430.0  430.0  430.0  430.0  430.0        True
6      40967   Vehicle  440.0  440.0  440.0  440.0  440.0  440.0        True
7      44138   Vehicle  330.0  330.0  330.0  330.0  330.0  330.0        True
8      48257   Vehicle  440.0  440.0  440.0  440.0  440.0  440.0        True
9      43848   Vehicle  440.0  440.0  440.0  440.0  440.0  440.0        True
10     58906   Vehicle  330.0  330.0  330.0  330.0  330.0  330.0        True
11     59203   Vehicle  220.0  220.0  220.0  220.0  220.0  220.0        True
12     50123   Vehicle  330.0  330.0  330.0  330.0  330.0  330.0        True
13     65229   Vehicle  340.0  340.0  340.0  340.0  340.0  340.0        True
14     41089   Vehicle  430.0  430.0  430.0  430.0  430.0  430.0        True
15     47200   Vehicle  330.0  330.0  330.0  330.0  330.0  330.0        True
16     56460   Vehicle  430.0  430.0  430.0  430.0  430.0  430.0        True
17     54204   Vehicle  340.0  340.0  340.0  340.0  340.0  340.0        True
18     55833   Vehicle  430.0  430.0  430.0  430.0  430.0  430.0        True
19     52868   Vehicle  330.0  330.0  330.0  330.0  330.0  330.0        True
20     52589   Vehicle  330.0  330.0  330.0  330.0  330.0  330.0        True
21     53986   Vehicle  340.0  340.0  340.0  340.0  340.0  340.0        True
22     61996   Vehicle  340.0  340.0  340.0  340.0  340.0  340.0        True
23     54799   Vehicle  330.0  330.0  330.0  330.0  330.0  330.0        True
24     35517   Vehicle  430.0  430.0  430.0  430.0  430.0  430.0        True
25     57701   Vehicle  330.0  330.0  330.0  330.0  330.0  330.0        True
26     57822   Vehicle  340.0  340.0  340.0  340.0  340.0  340.0        True
27     43528   Vehicle  340.0  340.0  340.0  340.0  340.0  340.0        True
28     43087   Vehicle  430.0  430.0  430.0  430.0  430.0  430.0        True
29     40448   Vehicle  330.0  330.0  330.0  330.0  330.0  330.0        True
...      ...       ...    ...    ...    ...    ...    ...    ...         ...
14428  57401   Vehicle  340.0  340.0  340.0  340.0  340.0  340.0        True
14429  61560   Vehicle  340.0  340.0  340.0  340.0  340.0  340.0        True
14430  45640   Vehicle  440.0  440.0  440.0  440.0  440.0  440.0        True
14431  60038   Vehicle  430.0  430.0  430.0  430.0  430.0  430.0        True
14432  63053   Vehicle  530.0  530.0  530.0  530.0  530.0  530.0        True
14433  56152   Vehicle  330.0  330.0  330.0  330.0  330.0  330.0        True
14434  37464   Vehicle  230.0  230.0  230.0  230.0  230.0  230.0        True
14435  49097   Vehicle  340.0  340.0  340.0  340.0  340.0  340.0        True
14436  37548   Vehicle  440.0  440.0  440.0  440.0  440.0  440.0        True
14437  40540   Vehicle  530.0  530.0  530.0  530.0  530.0  530.0        True
14438  43442   Vehicle  440.0  440.0  440.0  440.0  440.0  440.0        True
14439  38870   Vehicle  440.0  440.0  440.0  440.0  440.0  440.0        True
14440  52266   Vehicle  220.0  220.0  220.0  220.0  220.0  220.0        True
14441  55941   Vehicle  430.0  430.0  430.0  430.0  430.0  430.0        True
14442  48183   Vehicle  340.0  340.0  340.0  340.0  340.0  340.0        True
14443  53424   Vehicle  440.0  440.0  440.0  440.0  440.0  440.0        True
14444  53009   Vehicle  430.0  430.0  430.0  430.0  430.0  430.0        True
14445  45202   Vehicle  420.0  420.0  420.0  420.0  420.0  420.0        True
14446  59864   Vehicle  440.0  440.0  440.0  440.0  440.0  440.0        True
14447  39890   Vehicle  340.0  340.0  340.0  340.0  340.0  340.0        True
14448  35365   Vehicle  430.0  430.0  430.0  430.0  430.0  430.0       False
14449  39076   Vehicle  330.0  330.0  330.0  330.0  330.0  330.0       False
14450  59002   Vehicle  310.0  310.0  310.0  310.0  310.0  310.0       False
14451  49171   Vehicle  430.0  430.0  430.0  430.0  430.0  430.0       False
14452  61855   Vehicle  430.0  430.0  430.0  430.0  430.0  430.0       False
14453  62146   Vehicle  430.0  430.0  430.0  430.0  430.0  430.0       False
14454  53105   Vehicle  330.0  330.0  330.0  330.0  330.0  330.0       False
14455  45032   Vehicle  530.0  530.0  530.0  530.0  530.0    NaN       False
14456  54094   Vehicle  430.0  430.0  430.0  430.0  430.0  430.0       False
14457  56379   Vehicle  430.0  430.0  430.0  430.0  430.0  430.0       False

[14458 rows x 9 columns]

In [15]:
for _dir in dir_list:
    for _seed in seed_list:
        print(csv_array[_dir][_seed].shape)

(4768, 9)
(9553, 9)
(14458, 9)
(19313, 9)

# 重回帰分析

In [16]:
reader = csv_array['6_4']['123']

In [17]:
Y = reader['21600'].values.reshape(-1, 1)

In [18]:
X = reader.drop(['id', 'type', '21600'], axis=1)

In [19]:
model = LR()
model.fit(X, Y)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [ ]:
model.coef_

In [ ]:
model.intercept_

In [ ]:
model.score(X, Y)

In [ ]:
pred = model.predict(X)
pred

In [ ]:
reader['pred'] = pred
reader