In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [2]:
root_dir = '/Users/kessapassa/OneDrive/research_log/20190114/'

In [3]:
dir_list = ['people10000', 'people20000', 'people30000']
seed_list = [str(123 + i) for i in range(3)]
csv_list = ['mobile']

In [4]:
csv_array = {}
for _dir in dir_list:
    csv_array[_dir] = {}
    for _seed in seed_list:
        csv_array[_dir][_seed] = {}
        for _csv in csv_list:
            csv_array[_dir][_seed][_csv] = {}
            df = pd.read_csv(root_dir + 'Origin/' + _dir + 'seed' + _seed + '_' + _csv + '.csv',
                                                    encoding='Shift_JISx0213')
            df = df.loc[:, ['id', 'time', 'area']]
            
            group_list = df.groupby(['id'], sort=True)
            for _id, _group in group_list:
                _group = _group.sort_values(['time'])
                csv_array[_dir][_seed][_csv][_id] = []
                for area in np.asanyarray(_group.loc[:, 'area']):
                    csv_array[_dir][_seed][_csv][_id].append(area)

In [5]:
od_array = {}
for _dir in dir_list:
    od_array[_dir] = {}
    for _seed in seed_list:
        od_array[_dir][_seed] = {}
        for _csv in csv_list:
            df = pd.DataFrame()
            for _id in csv_array[_dir][_seed][_csv]:
                csv_array[_dir][_seed][_csv][_id].insert(0, _id)
                tmp = pd.DataFrame(csv_array[_dir][_seed][_csv][_id]).T
                df = pd.concat([df, tmp])
            od_array[_dir][_seed][_csv] = df
#             df.to_csv(root_dir + 'od_from_mobile/' + _dir + 'seed' + _seed + '_' + _csv + '.csv', index=False)

In [6]:
od_array[_dir][_seed][_csv]

        0   1     2     3     4   5
0   10001  50  41.0   NaN   NaN NaN
0   10002  50   NaN   NaN   NaN NaN
0   10004  40   NaN   NaN   NaN NaN
0   10005  57   NaN   NaN   NaN NaN
0   10006  31   NaN   NaN   NaN NaN
0   10007  41   NaN   NaN   NaN NaN
0   10008  41   NaN   NaN   NaN NaN
0   10009  40  40.0   NaN   NaN NaN
0   10011  50   NaN   NaN   NaN NaN
0   10012  40   NaN   NaN   NaN NaN
0   10013  41   NaN   NaN   NaN NaN
0   10015  49   NaN   NaN   NaN NaN
0   10016  58   NaN   NaN   NaN NaN
0   10017  50  50.0  41.0   NaN NaN
0   10020  40   NaN   NaN   NaN NaN
0   10021  40   NaN   NaN   NaN NaN
0   10026  41   NaN   NaN   NaN NaN
0   10028  49   NaN   NaN   NaN NaN
0   10029  50   NaN   NaN   NaN NaN
0   10030  40  40.0   NaN   NaN NaN
0   10031  50  50.0  50.0  41.0 NaN
0   10032  49  50.0   NaN   NaN NaN
0   10035  49   NaN   NaN   NaN NaN
0   10036  50   NaN   NaN   NaN NaN
0   10038  41   NaN   NaN   NaN NaN
0   10039  49   NaN   NaN   NaN NaN
0   10041  41   NaN   NaN   NaN NaN
0   10042  49  49.0   NaN   NaN NaN
0   10044  49   NaN   NaN   NaN NaN
0   10045  49  49.0   NaN   NaN NaN
..    ...  ..   ...   ...   ...  ..
0   69962  40  41.0   NaN   NaN NaN
0   69963  41   NaN   NaN   NaN NaN
0   69965  49   NaN   NaN   NaN NaN
0   69966  41   NaN   NaN   NaN NaN
0   69967  57   NaN   NaN   NaN NaN
0   69969  50   NaN   NaN   NaN NaN
0   69970  41   NaN   NaN   NaN NaN
0   69972  50   NaN   NaN   NaN NaN
0   69973  49   NaN   NaN   NaN NaN
0   69974  49   NaN   NaN   NaN NaN
0   69975  40  40.0   NaN   NaN NaN
0   69976  49   NaN   NaN   NaN NaN
0   69977  49  49.0   NaN   NaN NaN
0   69978  41   NaN   NaN   NaN NaN
0   69979  38   NaN   NaN   NaN NaN
0   69980  41   NaN   NaN   NaN NaN
0   69981  31   NaN   NaN   NaN NaN
0   69984  40  40.0   NaN   NaN NaN
0   69985  50   NaN   NaN   NaN NaN
0   69987  31   NaN   NaN   NaN NaN
0   69988  59   NaN   NaN   NaN NaN
0   69989  41  18.0   NaN   NaN NaN
0   69990  41   NaN   NaN   NaN NaN
0   69991  58   NaN   NaN   NaN NaN
0   69992  41   NaN   NaN   NaN NaN
0   69993  40   NaN   NaN   NaN NaN
0   69994  49   NaN   NaN   NaN NaN
0   69995  49  49.0   NaN   NaN NaN
0   69997  41   NaN   NaN   NaN NaN
0   69999  31   NaN   NaN   NaN NaN

[21475 rows x 6 columns]