In [3]:
import sys
sys.path.append('../')
import env

In [4]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [47]:
def main(args, array):
    for _times in env.TIMES_LIST():
        df = pd.read_csv(env.get_full_path('estimate', args, any=_times),
                         header=None,
                         encoding='Shift_JISx0213')
        csv_array[args.dir][args.ratio][args.seed][args.csv] = df.copy()
        
csv_array = {}
env.for_default_init(main, csv_array, ['estimate'])

In [48]:
df = csv_array['p10000']['r4']['s123']['estimate'].copy()
df.head()

,0,1,2,3,4,5,6,7,8,9,...,55,56,57,58,59,60,61,62,63,64
0,0,Vehicle,census1,300,470,560,550,540,640,530,...,180.0,70.0,60.0,50.0,40.0,130.0,120.0,210.0,NaN,NaN
1,1,Vehicle,census1,830,170,260,350,440,540,550,...,870.0,780.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Vehicle,census1,440,540,550,640,530,630,740,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,Vehicle,census1,840,540,550,640,530,440,450,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Vehicle,census1,210,530,540,550,640,650,740,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN